@import url("index-page-head-style.css");
@import url("index-card-style.css");
@import url("index-footer-style.css");

body{
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Raleway', sans-serif;
}

#page{
    display: grid;
    grid-auto-rows: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.cus-color{
    color: rgba(117, 117, 117, 1);
}

#heading{
    display: grid;
}

.visibility{
    color: white;
    visibility: hidden;
}


.content-heading{
    font-size: 1.8em;
    margin: 5em 0 2em 0;
    text-align: center;
}

#content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.signup-heading{
    margin: 7em 3em 2em 3em;
    text-align: center;
    color: grey;
}

#signup-block{
    width: 50%;
    margin: 0 auto 8em;
    /* text-align: center; */
}

#signup-div{
    display: flex;
    justify-content: center;
}

.email-txt{
    display: block;
    width: 80%;
    padding: 1em;
    border: none;
    background: rgb(242,242,242);
}

::placeholder{
    font-size: 1em;
    color: #8EA6B4;
}

.email-txt:focus{
    outline: none;
}

.submit-btn{
    width: 30%;
    padding: 1em;
    border: none;
    color: white;
    background: black;
    font-size: 0.9em;
    border-radius: 0 0.3em 0.3em 0;
}   

.submit-btn:hover{
    transition: all 0.5s ease-in;
    background: rgb(12, 122, 191); 
}

@media(max-width:800px){

    .signup-heading{
        width: 80%;
        margin: 2em auto 2em auto;
        text-align: left;
    }

    .submit-btn {
        width: 40%;
        padding: 1em;
        font-size: 0.9em;
        border-radius: 0 0.3em 0.3em 0;
    }
    
    .email-txt {
        width: 60%;
        padding: 0.5em;
        font-size: 0.8em;
    }

    #signup-block {
        width: 84%;
        margin: 0 auto 6em;
    }

    .left-part > ul li:nth-child(n+2) {
        display: none;
    }

    .spacing{
        margin-right: 1em;
    }
}