body{
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Raleway', sans-serif;
}

#page{
    display: grid;
    grid-auto-rows: auto;
}

.page-head{
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 3em;
    background: white;
}

.left-part{
    display: flex;
    align-items: center;
}

.left-part ul{
    margin: 0em;
    display: flex;
    list-style: none;
    padding-left: 1.7em;
}

a{
    text-decoration: none;
    color: inherit;
}

.left-part>ul li{
    margin: 0px 2em 0px 0px;
}

.right-part{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.insta-block {
    display: flex;
    align-items: center;
    margin: 0px 1em 0px 0px;
    border: solid .09em rgb(217,43,112);
    padding: 0.1em 0.5em 0.1em 0.5em;
    border-radius: 0.3em;
}

.insta{
    color:rgb(217,43,112);
}

.insta-label{
    margin-left: 0.4em;
    font-size: .7em;
    font-weight: bold;
    color: rgb(217,43,112);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.cus-color{
    color: rgba(117, 117, 117, 1);
}

#heading{
    display: grid;
}

.visibility{
    color: white;
    visibility: hidden;
}

.blog-gist:hover .visibility{
    transition: all 3s ease-in-out;
    color: rgba(117, 117, 117, 1);
    font-style: italic;
    visibility: visible;
}

.content-heading{
    font-size: 1.8em;
    margin: 5em 0em 2em 0em;
    text-align: center;
}

#content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.blog-gist{
    width: 70%;
    padding: 1em;
    border-left: solid 1px #8EA6B4;
    margin-bottom: 2em;
}

.blog-gist h4,p,h6{
    padding: 0px;
    margin: 0px;
}

.blog-gist h6{
    margin: 0.2em 0em 0.9em 0.1em;
}

.blog-gist:hover{
    transition: all 1s ease-in;
    box-shadow: 1px 1px 1em #8EA6B4;
}

.signup-heading{
    margin: 7em 3em 2em 3em;
    text-align: center;
    color: grey;
}

#signup-block{
    width: 50%;
    margin: 0em auto 8em;
    /* text-align: center; */
}

#signup-div{
    display: flex;
    justify-content: center;
}

.email-txt{
    display: block;
    width: 80%;
    padding: 1em;
    border: none;
    background: rgb(242,242,242);
}

::placeholder{
    font-size: 1em;
    color: #8EA6B4;
}

.email-txt:focus{
    outline: none;
}

.submit-btn{
    width: 30%;
    padding: 1em;
    border: none;
    color: white;
    background: black;
    font-size: 0.9em;
    border-radius: 0em 0.3em 0.3em 0em;
}   


.submit-btn:hover{
    transition: all 0.5s ease-in;
    background: rgb(12, 122, 191); 
}

#footer-block {
    display: flex;
    background: black;
    color: white;
    justify-content: space-between;
    padding: 1em 0em 1em 1em;
}

.footer-social-media{
    color: white;
}

.spacing{
    margin-right: 2em;
}


@media(max-width:800px){

    .signup-heading{
        width: 80%;
        margin: 2em auto 2em auto;
        text-align: left;
    }

    .submit-btn {
        width: 40%;
        padding: 1em;
        font-size: 0.9em;
        border-radius: 0em 0.3em 0.3em 0em;
    }

    
    .email-txt {
        width: 60%;
        padding: 0.5em;
        font-size: 0.8em;
    }

    #signup-block {
        width: 84%;
        margin: 0em auto 6em;
    }

    .left-part > ul li:nth-child(n+2) {
        display: none;
    }

    .spacing{
        margin-right: 1em;
    }
}